<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">

<head>
    <title>Home_Page</title>
</head>
<body style="background-color: lightyellow">
<form action="{% url "calculate" %}" method="post">

{% csrf_token %}

<h1>this is is home.html</h1>
 Enter 1st number (this is X var) : <input type="text" name="num1" placeholder="for X enter Number ONLY"><br>
 Enter 2st number (this is Y var) : <input type="text" name="num2" placeholder="for Y enter Number ONLY"><br>
 Enter Operater &nbsp;&nbsp;&nbsp; (+, -, *, /) : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="operator" placeholder="for operator ' +, -, *, / ' ONLY"><br><br>
 <input type="submit" value="Calculate"> <br><br>
<!--
 <button type="button" id="add" name="add" >Add</button>
 <button type="button" id="subtract" name="subtract" >Subtract</button>
 <button type="button" id="multiply" name="multiply" >Multiply</button>
 <button type="button" id="divide" name="divide" >Divide</button>-->



</form>
</body>
</html>

