<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">

<head>
    <title>Home_Page</title>
</head>
<body style="background-color: lightyellow">
<form action="">
<h1>this is is home.html</h1>
 Enter 1st number (this is X var) : <input type="text" name="num1"><br>
 Enter 2st number (this is Y var) : <input type="text" name="num2"><br>
 <input type="submit"> <br><br>
 <button type="button" id="add" name="add" value="add">Add</button>
 <button type="button" id="add" name="add" value="add">Subtract</button>
 <button type="button" id="add" name="add" value="add">Multiple</button>
 <button type="button" id="add" name="add" value="add">Divide</button>



</form>
</body>
</html>

